@model IEnumerable<NightingaleHms.Models.Department>

@{
    ViewBag.Title = "All Departments";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>All Departments</h2>

@if (!Model.Any())
{
    <p>There is no Department Yet.</p>
}
else
{
    <table class="table table-bordered table-hover">
        <tr>
            <th>Name</th>
            <th>Description</th>
        </tr>
        @foreach (var department in Model)
        {
            <tr>
                <td>@Html.ActionLink(department.Name, "EditDepartment", "Admin", new { departmentId = department.DepartmentId}, null)</td>
                <td>@(@department.Description == null ? "None" : @department.Description)</td>
            </tr>
        }
    </table>
}


